<a href="https://colab.research.google.com/github/GALI-SAI-SHANKAR/Threat-Alert-AI/blob/main/Documents/Phase%202/Data_Cleaning_By_Removing_Row.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import files
import io 
data = files.upload()

Saving Emotion Dataset_orignal.csv to Emotion Dataset_orignal.csv

In [ ]:
#import matplotlib.pyplot as plt
import pandas as pd 

# Load the dataset
df = pd.read_csv(io.StringIO(data['Emotion Dataset_orignal.csv'].decode('utf-8')))

In [ ]:
df.head

<bound method NDFrame.head of              0          1          2  ...          9         10  labels
0  -289.809753  92.656693  -9.069321  ...  15.282769 -20.940063    fear
1  -164.861326  38.783154   7.857355  ...   3.519324  -6.848114    fear
2  -318.005859  93.598946  -9.192831  ...  14.429805 -20.727526    fear
3  -283.526459  98.361053  -6.772425  ...  14.002400 -21.756216    fear
4  -304.320404  93.121078        NaN  ...  10.986577 -21.686266    fear
..         ...        ...        ...  ...        ...        ...     ...
61 -336.151489  52.498676 -33.850636  ...   1.175445 -23.803923   angry
62 -342.001160  49.765186  -1.025870  ...   2.491094 -13.474920   angry
63 -291.785844  31.411756   4.306980  ...  -2.424917  -6.802438   angry
64 -366.036285  48.347252  -1.700173  ...   1.221149 -13.473592   angry
65 -338.441559  49.593494  -1.810615  ...   2.079562 -13.601841   angry

[66 rows x 12 columns]>

In [ ]:
df.describe()

                0           1          2  ...          8          9         10
count   66.000000   66.000000  65.000000  ...  66.000000  65.000000  66.000000
mean  -384.309810   72.599174  -3.499158  ... -15.017371   2.775439 -17.280131
std     89.772134   33.040783  18.725568  ...   8.473236   6.920661   6.699451
min   -561.420715   17.103092 -33.898197  ... -28.432583  -8.656573 -32.067215
25%   -436.236420   44.742981 -17.241188  ... -22.507425  -2.345154 -21.277890
50%   -367.044464   62.557844  -6.982942  ... -12.165884   1.221149 -18.080153
75%   -330.727478  102.012489  14.645662  ...  -9.647995   5.810830 -13.903437
max   -164.861326  144.133545  28.769569  ...   3.026654  22.313879  -2.462200

[8 rows x 11 columns]

In [ ]:
df.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of         0      1      2      3      4  ...      7      8      9     10  labels
0   False  False  False  False  False  ...  False  False  False  False   False
1   False  False  False  False  False  ...  False  False  False  False   False
2   False  False  False  False  False  ...  False  False  False  False   False
3   False  False  False  False  False  ...  False  False  False  False   False
4   False  False   True  False  False  ...  False  False  False  False   False
..    ...    ...    ...    ...    ...  ...    ...    ...    ...    ...     ...
61  False  False  False  False  False  ...  False  False  False  False   False
62  False  False  False  False  False  ...  False  False  False  False   False
63  False  False  False  False  False  ...  False  False  False  False   False
64  False  False  False  False  False  ...  False  False  False  False   False
65  False  False  False  False  False  ...  False  False  False  False   False

[66 rows x 12 columns]>

In [ ]:
df.dropna(axis=0,inplace=True)

In [ ]:
print(df)

             0           1          2  ...          9         10  labels
0  -289.809753   92.656693  -9.069321  ...  15.282769 -20.940063    fear
1  -164.861326   38.783154   7.857355  ...   3.519324  -6.848114    fear
2  -318.005859   93.598946  -9.192831  ...  14.429805 -20.727526    fear
3  -283.526459   98.361053  -6.772425  ...  14.002400 -21.756216    fear
5  -302.007935  102.012489  -8.721478  ...  16.731567 -19.830151    fear
..         ...         ...        ...  ...        ...        ...     ...
61 -336.151489   52.498676 -33.850636  ...   1.175445 -23.803923   angry
62 -342.001160   49.765186  -1.025870  ...   2.491094 -13.474920   angry
63 -291.785844   31.411756   4.306980  ...  -2.424917  -6.802438   angry
64 -366.036285   48.347252  -1.700173  ...   1.221149 -13.473592   angry
65 -338.441559   49.593494  -1.810615  ...   2.079562 -13.601841   angry

[61 rows x 12 columns]

In [ ]:
df.dropna(inplace=True)
# to drop any rows that contain any null values
df.dropna(how='all', inplace=True)
# to drop the rows wich all of it's values is any

# if you want to drop the columns not the rows you just set the axis to 1 like this:
df.dropna(axis=1, inplace=True)